<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kpc.mapper.AptMapper">
	<resultMap id="aptMap" type="com.kpc.homes.AptVO">
		<id property="seq" column="seq" />
		<result property="gu" column="gu"/>
		<result property="dong" column="dong"/>
		<result property="addr1" column="addr1"/>
		<result property="addr2" column="addr2"/>
		<result property="apt" column="apt"/>
		<result property="gubun" column="gubun"/>
		<result property="area" column="area"/>
		<result property="conym" column="conym"/>
		<result property="price" column="price"/>
		<result property="deposit" column="deposit"/>
		<result property="mrent" column="mrent"/>
		<result property="floor" column="floor"/>
		<result property="archyear" column="archyear"/>
		<result property="street" column="street"/>
		<result property="lat" column="lat"/>
		<result property="lng" column="lng"/>
	</resultMap>
	
	<!-- 목록보기 -->
	<select id="aptList" parameterType="map" resultType="com.kpc.homes.AptVO">
		select distinct a.apt, a.gu, a.street, a.dong, a.addr1, a.area, b.lat, b.lng
		from apt a, aptxy b
		where a.dong = b.dong
		and a.addr1 = b.addr1
		and a.gu = #{searchKey}
		and ((a.dong like '%' || #{searchStr} || '%')
				or (a.street like '%' || #{searchStr} || '%')
				or (a.apt like '%' || #{searchStr} || '%')) 
		order by apt asc, dong asc, street asc	
	</select>
	
	<!-- 상세보기 -->
 	<select id="aptView" parameterType="map" resultType="com.kpc.homes.AptVO">
		select distinct a.*, b.lat, b.lng
		from apt a, aptxy b
		where a.dong = b.dong
		and a.addr1 = b.addr1
		and a. apt = #{aptStr}
		and a. area = #{areaStr}
	</select>
	
	<!-- 맵보기 -->
	<select id="googleMap" parameterType="map" resultType="com.kpc.homes.AptVO">
		select distinct a.apt, a.gu, a.street, a.dong, a.addr1, a.area, b.lat, b.lng
		from apt a, aptxy b
		where a.dong = b.dong
		and a.addr1 = b.addr1
		and a.gu = #{searchKey}
		and ((a.dong like '%' || #{searchStr} || '%')
				or (a.street like '%' || #{searchStr} || '%')
				or (a.apt like '%' || #{searchStr} || '%')) 
		order by apt asc, dong asc, street asc		
	</select>
	
	<!-- 클릭맵 -->
 	<select id="clickMap" parameterType="map" resultType="com.kpc.homes.AptVO">
		select distinct a.*, b.lat, b.lng
		from apt a, aptxy b
		where a.dong = b.dong
		and a.addr1 = b.addr1
		and a. apt = #{aptStr}
	</select>

	<!-- 매매차트 -->
	<select id="aptDealChart" parameterType="map" resultType="com.kpc.homes.ChartVO">
		select apt, price, conym
		from apt 
		where apt = #{aptStr}
		and area = #{areaStr}
		and gubun = '매매'
	</select>
	
	<!-- 전세차트 -->
	<select id="aptRentChart" parameterType="map" resultType="com.kpc.homes.ChartVO">
		select apt, deposit, conym
		from apt 
		where apt = #{aptStr}
		and area = #{areaStr}
		and gubun = '전세'
	</select>
	
	<!-- 전세/매매 가격지수 차트 -->
	<select id="aptIndexChart" parameterType="map" resultType="com.kpc.homes.ChartVO">
		select *
		from aptprice_index 
	</select>
	
	<!-- 자치구별 아파트비율 차트-->
	<select id="aptRatioChart" parameterType="map" resultType="com.kpc.homes.ChartVO">
		select gu, apt_cnt
		from apt_gucnt_2018
	</select>
	
	<!-- 자치구별 아파트 건축년도 비율 차트-->
	<select id="aptArchChart" parameterType="map" resultType="com.kpc.homes.ChartVO">
		select gu, Y1990_1999
		from apt_arch
	</select>
</mapper>
