<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- boardImple이 있을경우  namespacea명은 자유롭게 명명한다.
<mapper namespace="boardNameSpace"> 
-->
<mapper namespace="com.kpc.mapper.BoardMapper"> 
	<resultMap id="myboardMap" type="com.kpc.board.BoardVO">
		<id property="bseq" column="bseq" />
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
		<result property="regid" column="regid"/>
		<result property="regdate" column="regdate"/>
	</resultMap>
	<!-- <collection property="rlist" columnPrefix="r_" javaType="ArrayList" resultMap="replyMap" /> -->
	
	<select id="boardCount" resultType="Integer">
		select count(*) as cnt from board
	</select>
	<select id="allList" resultType="com.kpc.board.BoardVO">
	<!-- <select id="allList" resultMap="myboardMap"> -->
	 	select bseq,title,contents, regid, to_char(regdate,'yyyy-mm-dd') as regdate 
		from board 
		order by bseq desc
	</select>
	
	<select id="blist" parameterType="map" resultType="com.kpc.board.BoardVO">
		<!-- resultType="com.kpc.board.BoardVO">   resultMap="myboardMap"-->
		select tt.*
		from (
		    select  rownum rnum, t.*
		    from
		        (select bseq, title, contents, regid,to_char(regdate, 'YYYY-MM-DD') regdate from board order by bseq desc) t
		) tt
		where rnum <![CDATA[>=]]> #{startSeq} and rnum <![CDATA[<=]]> #{endSeq}
	</select>

	<select id="blistBySearch" parameterType="map" resultType="com.kpc.board.BoardVO">
	<!-- '%' ||  #{keyword} || '%' -->
		select bseq,title,contents, regid, to_char(regdate,'yyyy-mm-dd') as regdate 
		from board 
		where ${searchKey} like '%' || #{searchStr} || '%'
		order by bseq desc
	</select>
	
	<select id="bview" parameterType="Integer" resultMap="myboardMap">
		select bseq,title,contents, regid, to_char(regdate,'yyyy-mm-dd') as regdate
		from board 
		where bseq=#{bseq}
	</select>
	
	<update id="bupdate" parameterType="com.kpc.board.BoardVO">
		update board 
		set title=#{title},contents=#{contents},regid=#{regid}
		where bseq=#{bseq}
	</update>
	
	<insert id="binsert" parameterType="com.kpc.board.BoardVO">
		insert into board(bseq, title, contents, regid)
		values(board_seq.nextval, #{title}, #{contents}, #{regid})
	</insert>
	

	<delete id="bdelete" parameterType="Integer">
		delete 
		from board
		where bseq=#{bseq}
	</delete>
</mapper>
